<?xml version="1.0"?>
<robot name="KasPR" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<link name="bumblebee" >
		<visual>
			<geometry>
				<box size="0.1 0.02 0.02"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</visual>
	</link>

	<joint name="bumblebee_joint" type="fixed">
		<parent link="base_link"/>
		<child link="bumblebee"/>
		<origin rpy="${-pi / 2} 0.0 0.0" xyz="0.0 0.1 0.01"/>
	</joint>

	<link name="gripper" >
		
	</link>
	
	<joint name="gripper_joint" type="fixed">
		<parent link="ee_link"/>
		<child link="gripper"/>
		<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
	</joint>
</robot>
