<?xml version="1.0"?>
<!-- Launch file that starts the arm and hardware control -->
<launch>
	<arg name="robot_ip" default="127.0.0.1"/>
	<arg name="limited" default="true"/>
	<arg name="testing" default="false"/>
	<arg name="enable_rviz" default="false"/>

	<include file="$(find ur_bringup)/launch/ur5_bringup.launch"> 
		<arg name="robot_ip" value="$(arg robot_ip)"/>
		<arg name="limited" value="$(arg limited)"/>
	</include>

	<include file="$(find ur5_moveit_config)/launch/move_group.launch">
		<arg name="limited" value="$(arg limited)"/>
	</include>
	<node name="armControl" pkg="kpr_arm_control" type="arm_control.py" respawn="true" output="screen" respawn_delay="5">
		<remap if="$(arg testing)" from="set_io" to="set_io_testing"/>
		<remap if="$(arg testing)" from="io_states" to="io_states_testing"/>
	</node>

	<include if="$(arg enable_rviz)" file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
		<arg name="debug" value="false"/>
	</include>
</launch>
