<!-- Launch file that starts the robot -->
<launch>
	<arg name="cpu_mode" default="false"/>
	<arg name="testing" default="false"/>
	<arg name="enable_faster_rcnn" default="true"/>

	<!-- Launch the interface -->
	<group>
		<node name="settingsManager" pkg="kpr_interface" type="settingsManager.py"/>
		<node name="interface" pkg="kpr_interface" type="interface.py" required="true"/>
	</group>

	<!-- Launch the hardware -->
	<group>
		<!-- Launch hardware that is always needed -->
	</group>

	<group if="$(arg testing)"> 
		<!-- launch hardware dummy nodes -->
	</group>

	<group unless="$(arg testing)"> 
		<!-- launch actual hardware nodes -->
	</group>

	<!-- Launch image detection -->
	<group if="$(arg enable_faster_rcnn)">
		<node if="$(arg cpu_mode)" name="fasterRCNN" pkg="ros_faster_rcnn" type="simpleDetect.py" args="--cpu"/>
		<node unless="$(arg cpu_mode)" name="fasterRCNN" pkg="ros_faster_rcnn" type="simpleDetect.py" />
	</group>

	<!-- Launch moveIt! -->
	<group>
		<node name="armControl" pkg="kpr_arm_control" type="arm_control"/>
		<node name="gripperControl" pkg="kpr_arm_control" type="gripper_control"/>
	</group>

	<!-- Launch main nodes -->
	<group>
		<node name="CVis" pkg="kpr_image_processing" type="cVis"/>
		<node name="IdCB" pkg="kpr_image_processing" type="IdCB"/>
		<node name="core" pkg="kpr_core" type="core"/>
	</group>
</launch>
